@media(max-width:1000px){
    .content{
        max-width:85%;
        
    }
    .content__photo{
        max-width:40%;
    }
    
}
@media(max-width:800px){
    .content{
        overflow: hidden;
        min-width: 360px;
        font-size: 25px;
        
    }
    .content__head{
        width: 100%;
        text-align: center;
        margin:0 auto;
    }
    .content__photo{
        float: none;
        margin: 20px auto;
        max-width:80%;
    }
}